# Dependencies
node_modules/
vendor/

# Build output
dist/
pkg/
*.gem

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Test coverage
coverage/

# Yarn
.yarn-integrity
yarn-error.log
